---
import Layout from "../../layouts/Layout.astro";
import { getPost, getPostBySlug } from "../../lib/wordpress/posts";
import { getUser } from "../../lib/wordpress/users";

const { slug } = Astro.params;
const post = await getPostBySlug(slug!);
const author = await getUser(post?.author!);
---

<Layout title={post?.title.rendered ?? "Post not found"}>
  <article>
    {
      post ? (
        <>
          <h1>{post.title.rendered}</h1>
          <a href={`/users/${author?.id}`}>by {author?.name}</a>

          <div set:html={post.content.rendered} />
        </>
      ) : (
        <h1>Post not Found</h1>
      )
    }
  </article>
</Layout>
