@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full;
  }

  body {
    @apply text-sea bg-jet;
  }

  header {
    @apply pb-16 text-misty bg-gradient-to-b from-dark to-jet;
  }

  nav > ul {
    @apply flex gap-x-4;
  }

  a {
    @apply text-misty;
  }

  p {
    @apply my-2;
  }

  h1 {
    @apply font-bold text-turquoise text-6xl;
  }

  h2 {
    @apply text-turquoise text-2xl;
  }

  article {
    @apply container mx-8;
  }

  article > div {
    @apply my-8;
  }

  article > div > * {
    @apply my-2;
  }

  article > div > h2 {
    @apply font-bold text-turquoise text-4xl;
  }
}

@layer components {
  .card {
    @apply p-4 my-4 mx-8 rounded-lg bg-black border-2 border-sea;
    @apply transition duration-500 ease-in-out;
    @apply hover:-translate-y-2 focus:-translate-y-2;
  }
 
  .btn {
    @apply cursor-pointer transform hover:scale-110 transition-all duration-200 ease-out outline-none focus:scale-125;
  }

  .btn-effect {
    @apply outline-none border-b-2 border-transparent hover:border-misty focus:border-misty;
    @apply transition duration-200;
  }
}
