---
export async function getStaticPaths() {
  return (await getAllCategories()).map((category) => {
    return {
      params: {
        slug: category.slug,
      },
    };
  });
}

import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";
import {
  getAllCategories,
  getCategoryBySlug,
} from "../../lib/wordpress/categories";
import { getPostOfCategory } from "../../lib/wordpress/posts";

const { slug } = Astro.params;
const category = slug && (await getCategoryBySlug(slug));
const posts = category && (await getPostOfCategory(category.id));
---

<Layout title={slug ?? "Category not found"}>
  <article>
    {
      category ? (
        <>
          <h1 class="mb-10">Category: {category.name}</h1>
          <h2>Posts</h2>

          {posts?.length ? (
            <div>
              <ul>
                {posts &&
                  posts.map(async (post) => {
                    return <Card post={post} />;
                  })}
              </ul>
            </div>
          ) : (
            <p>There are no posts in this Category yet</p>
          )}
        </>
      ) : (
        <h1>User not Found</h1>
      )
    }
  </article>
</Layout>
