---
export async function getStaticPaths() {
  return (await getAllCategories()).map((category) => {
    return {
      params: {
        slug: category.slug,
      },
    };
  });
}

import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";
import {
  getAllCategories,
  getCategoriesByIds,
  getCategoryBySlug,
} from "../../lib/wordpress/categories";
import { getPostOfCategory } from "../../lib/wordpress/posts";
import { getUser } from "../../lib/wordpress/users";

const { slug } = Astro.params;
const category = await getCategoryBySlug(slug!);
const posts = await getPostOfCategory(category?.id!);
---

<Layout title={category?.slug ?? "Category not found"}>
  <article>
    {
      category ? (
        <>
          <h1 class="mb-10">Category: {category.name}</h1>
          <h2>Posts</h2>

          {posts?.length ? (
            <div>
              <ul>
                {posts.map(async (post) => {
                  const user = await getUser(post.author);
                  return (
                    <Card
                      href={`/posts/${post.slug}`}
                      title={post.title.rendered}
                      author={user!}
                      categories={await getCategoriesByIds(post.categories!)}
                    />
                  );
                })}
              </ul>
            </div>
          ) : (
            <p>There are no posts in this Category yet</p>
          )}
        </>
      ) : (
        <h1>User not Found</h1>
      )
    }
  </article>
</Layout>
