---
import Layout from "../../layouts/Layout.astro";
import { getAllCategories } from "../../lib/wordpress/categories";

const categories = await getAllCategories();
---

<Layout title="Categories">
  <ul>
    {
      categories.map((category) => {
        return (
          <a href={`/categories/${category.slug}`}>
            <li>{category.name}</li>
          </a>
        );
      })
    }
  </ul>
</Layout>
