---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getAllPosts } from "../lib/wordpress/posts";
const posts = await getAllPosts();
---

<Layout title="Blog">
  <main>
    <h1 class="mx-8">Welcome to the FRG Blog</h1>
    <br />
    <ul role="list">
      {
        posts.map(async (post) => {
          return <Card post={post} />;
        })
      }
    </ul>
  </main>
</Layout>
