---
const links = [
  {
    text: "Home",
    href: "/",
  },
  {
    text: "About",
    href: "/about",
  },
];
---

<header
  class="sticky top-0 z-40 flex-none mx-auto w-full transition-all ease-in duration-100 bg-pink-400"
  id="header"
>
  <div
    class="py-3 px-3 md:py-3.5 md:px-4 mx-auto w-full md:flex md:justify-between max-w-6xl"
  >
    <div class="flex justify-between">
      <a class="flex items-center" href="/"> frghackers</a>
    </div>
    <nav
      class="items-center w-full md:w-auto hidden md:flex text-gray-600 dark:text-slate-200 h-[calc(100vh-72px)] md:h-auto overflow-y-auto md:overflow-visible"
      aria-label="Main navigation"
    >
      <ul
        class="flex flex-col pt-8 md:pt-0 md:flex-row md:self-center w-full md:w-auto text-xl md:text-base"
      >
        {
          links.map(({ text, href }) => {
            return (
              <li>
                <a class="mr-5" href={href}>
                  {text}
                </a>
              </li>
            );
          })
        }
      </ul>
    </nav>
  </div>
</header>
