---
const links = [
  {
    text: "Home",
    href: "/",
  },
  {
    text: "About",
    href: "/about",
  },
];
---

<header id="header">
  <div
    class="py-3 px-3 container mx-auto flex justify-between"
  >
    <div class="btn btn-effect">
      <a class="text-xl text-misty" href="/"> FRG Hackers</a>
    </div>
    <nav aria-label="Main navigation">
      <ul>
        {
          links.map(({ text, href }) => {
            return (
              <li class="btn btn-effect">
                <a href={href}>
                  {text}
                </a>
              </li>
            );
          })
        }
      </ul>
    </nav>
  </div>
</header>
