---
export async function getStaticPaths() {
  return (await getAllUsers()).map((user) => {
    return {
      params: {
        slug: user.slug,
      },
    };
  });
}

import type { WP_REST_API_Posts } from "wp-types";
import Layout from "../../layouts/Layout.astro";
import { getAllPosts } from "../../lib/wordpress/posts";
import { getAllUsers, getUserBySlug } from "../../lib/wordpress/users";
import Card from "../../components/Card.astro";

const { slug } = Astro.params;
const user = slug && (await getUserBySlug(slug));
let posts: WP_REST_API_Posts = [];
if (user) {
  posts = (await getAllPosts()).filter((post) => post.author == user.id);
}
---

<Layout title={(user && user.name) ?? "User not found"}>
  <article>
    {
      user ? (
        <>
          <h1 class="mb-0">User: {user.name}</h1>
          <h2>Posts</h2>
          {posts?.length ? (
            <div>
              <ul>
                {posts.map(async (post) => {
                  return <Card post={post} />;
                })}
              </ul>
            </div>
          ) : (
            <p>This user has not written any Posts yet</p>
          )}
        </>
      ) : (
        <h1>User not Found</h1>
      )
    }
  </article>
</Layout>
